[submodule "include/vendor/raylib"]
	path = include/vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "include/vendor/raygui"]
	path = include/vendor/raygui
	url = https://github.com/raysan5/raygui
[submodule "include/vendor/imgui"]
	path = include/vendor/imgui
	url = https://github.com/ocornut/imgui.git
